body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #d9d9d9;
  background-color: #1b1b1b;
}

.Home {
  position: relative;
  top: 200px;
  text-align: center;
}

.linkNasaPic,
.linkHome {
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  color: #1b1b1b;
  background-color: #d9d9d9;
  border-radius: 2px;
  border: 1px solid black;
}

.linkNasaPic:hover,
.linkHome:hover {
  background-color: #fffafa;
  cursor: pointer;
}

.Loading {
  text-align: center;
  position: relative;
  top: 150px;
}
.Loading img {
  width: 80px;
  height: 80px;
}

.Pic {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.NasaPicture,
.NasaVid {
  height: 600px;
  align-self: center;
  object-fit: contain;
  width: 700px;
}
.NasaPicture,
.NasaVid:hover {
  cursor: pointer;
}

.NasaPic {
  padding: 25px;
  display: flex;
  justify-content: center;
}
.linkHome {
  position: relative;
  top: 30px;
  left: 30px;
}
.PicInfo {
  width: 650px;
  text-align: left;
}
.PicInfo p {
  font-weight: bold;
  line-height: 1.8;
}

.PicInfo p::first-letter {
  font-size: 20px;
  font-weight: bolder;
}

@media only screen and (max-device-width: 645px) {
  .PicInfo {
    width: 350px;
    text-align: center;
  }
  .PicInfo p {
    line-height: 1.8;
    font-size: 14px;
  }
  .NasaPicture,
  .NasaVid {
    height: 300px;
    width: 300px;
    align-self: center;
    object-fit: contain;
  }
  .linkHome {
    position: absolute;
    top: 0;
    left: 0;
  }
}
