body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #d9d9d9;
  background-color: #1b1b1b;
}

.Home {
  position: relative;
  top: 200px;
  text-align: center;
}

.linkNasaPic,
.linkHome {
  padding: 10px;
  text-decoration: none;
  font-size: larger;
  color: #1b1b1b;
  background-color: #d9d9d9;
  border-radius: 15px;
}
.linkHome:hover {
  border: 1px solid #d9d9d9;
  background-color: #1b1b1b;
  color: #d9d9d9;
}

.linkNasaPic:hover {
  border: 1px solid #d9d9d9;
  background-color: #1b1b1b;
  color: #d9d9d9;
}

.Loading {
  text-align: center;
  position: relative;
  top: 150px;
}
.Loading img {
  width: 80px;
  height: 80px;
}

.Pic {
  text-align: center;
}

.NasaPicture,
.NasaVid {
  height: 600px;
  align-self: center;
  object-fit: contain;
  border: 3px solid white;
}

.NasaPic {
  padding: 25px;
  display: flex;
  justify-content: center;
}
.linkHome {
  position: relative;
  top: 30px;
  left: 30px;
}
.PicInfo {
  padding: 10px;
  width: 650px;
  text-align: center;
}
.PicInfo p {
  font-weight: bold;
  line-height: 1.8;
}

.PicInfo p::first-letter {
  font-size: 20px;
  font-weight: bolder;
}
